:root {
    --main-color:#247cff;
    --seconde-color:#717275;
    --shadow:0 1rem 3rem rgba(0,0,0,.175);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.mouse {
    .small {
        position: fixed;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #d2313d;
        z-index: 1000;
        transition: .1s;
    } 
    .big {
        position: fixed;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #d2313c5c;
        transition: .3s;

    }
}
.fade-up {
    animation: fade-up 2s ease-in-out;
    animation-fill-mode: both;
  }
  
@keyframes fade-up {
from {
    opacity: 0;
    transform: translateY(20px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}
  
/* Start Header */
header {
    background-color: #f8f9fa;
    position: fixed;
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    gap: 50px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    z-index: 1000;
    ul.links {
        display: flex;
        gap: 40px;
        a {
           font-size: 1.1em;
           color: var(--seconde-color);
           transition: .3s;
           &:hover,
           &.active {
            color: #000;
           }
        }
    }
    .logo {
        text-align: center;
        color: var(--seconde-color);
        font-size: 14px;
        font-weight: bold;
        span {
            color: var(--main-color);
            font-size: 2em;
        }
    }
    a.download {
        margin: 0 10px;
        padding: 10px;
        background: #eee;
        border-radius: 4px;
    }
}
/* End Header */
/* Start Welcome */
section.welcome {
    padding: 100px 60px;
    .holder {
        position: relative;
        overflow: hidden;
        max-height: 600px;
        img {
            max-width: 100%;
            transition: .3s;
        }
        .text {
            max-width: 50%;
            opacity: .8;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 20px 30px;
            h2 {
                font-size: 2.2em;
                color: #333;
                overflow: hidden;
                span {
                    color: var(--main-color);
                    display: inline-block;
                    transition: .3s;
                }
            }
            p {
                color: #777;
                line-height: 1.5;
                margin: 20px 0;
                font-size: 18px;
            }
            & > div {
                display: flex;
                gap: 20px;
                align-items: center;
                a {
                    display: block;
                    position: relative;
                    background: #ffff;
                    border: 1px solid #eee;
                    padding: 10px 30px;
                    text-transform: uppercase;
                    color: var(--main-color);
                    font-weight: bold;
                    font-size: 14px;
                    overflow: hidden;
                    &::before {
                        content: 'Learn More';
                        position: absolute;
                        left: 0;
                        top: 100%;
                        display: block;
                        background: #eee;
                        border: 1px solid #eee;
                        padding: 10px 30px;
                        text-transform: uppercase;
                        color: var(--main-color);
                        font-weight: bold;
                        font-size: 13px;
                        width: 100%;
                        transition: .3s;
                    }
                    &:hover::before {
                        top: 0;
                    }
                }
                div {
                    color: var(--seconde-color);
                }
            }
        }
    }
}
/* End Welcome */
/* Start Meet */
section.meet {
    padding: 60px;
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    .text {
        flex-basis: 50%;
        h3 {
            font-size: 3em;
            font-weight: bold;
        }
        p {
            color: var(--seconde-color);
            margin: 15px 0;
            line-height: 1.5;
        }
    }
    .years {
        background-color: #fff;
        box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
        width: 350px;
        height: 350px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        p { 
            font-size: 22px;
            color: var(--seconde-color);
            line-height: 1;
            span {
                font-size: 8em;
                color: var(--main-color);
                font-weight: bold;
            }
        }
    }
    .img {
        flex-basis: 100%;
        display: flex;
        gap: 10px;
        img {
            max-width: 50%;
        }
    }
}
/* End Meet */
/* Start Footer */
footer {
    background-color: #f9f9f9;
    display: flex;
    padding: 60px;
    justify-content: space-between;
    h3 {
        font-size: 1.5em;
        margin-bottom: 20px;
        font-weight: 600;
    }
    .hours {
        flex-basis: 45%;
        li {
            color: var(--seconde-color);
            display: flex;
            padding: 15px 0;
            &:not(:last-child) {
                border-bottom: 1px solid var(--seconde-color);
            }
            p.day {
                flex-basis: 50%;
            }
            p.time {
                font-weight: bold;
                flex-basis: 50%;

            }
        }
    }
    .clinic {
        a {
            color: var(--seconde-color);
            letter-spacing: 1px;
            transition: .3s;
            &:hover {
                color: var(--main-color);
            }
        }
        address {
            color: var(--seconde-color) ;
            margin-top: 20px;
        }
    }
    .social {
        ul {
            display: flex;
            gap: 13px;
            i {
                color: var(--seconde-color);
                transition: .3s;
                &:hover {
                    color: var(--main-color);
                }
            }
        }
        p {
            color: var(--seconde-color);
            margin-top: 20px;
        }
    }
}
/* End Footer */

/* Start Timeline */
section {
    padding: 20px 60px;
    h2 {
        font-size: 4em;
        text-align: center;
        color: var(--main-color);
    }
}
.timeline {
    padding: 60px;

    .parts {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 100%;
            background-color: #eee;
        }
        .part {
            position: relative;
            padding-top: 50px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            .text {
                box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
                background-color: #fff;
                width: 41.6666666667%;
                h3 {
                    position: relative;
                    background-color: #000;
                    color: #fff;
                    font-size: 1.7em;
                    padding:20px;
                    &.right::before,
                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 100%;
                        transform: translateY(-50%);
                        border-left: 10px solid #000;
                        border-top: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                    }
                }
                p {
                    padding:20px;
                    line-height: 2;
                    color: var(--seconde-color);
                }
            }
            .icon {
                box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
                background-color: #fff;
                width: 70px;
                height: 70px;
                z-index: 10;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                    color: var(--main-color);
                    font-size: 2em;
                }
            }
            span.date {
                width: 41.6666666667%;
            }
            
            &:nth-child(2n) {
                flex-direction: row-reverse;
                h3 {
                    &::before {
                        left:auto !important;
                        right: 100%;
                        border-left: none !important;
                        border-right: 10px solid #000;
                    }
                }
            }
        }
    }
}
/* End Timeline */
/* Start Skills */
section.skills {
    padding: 20px 60px;
    .cards {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        .card {
            width: calc(100% / 2 - 30px);
            background-color: #fff;
            box-shadow: var(--shadow);
            padding: 30px;
            border-radius: 6px;
            transition: .3s;
            i {
                font-size: 2em;
                color: var(--main-color);
                transition: .3s;
            }
            h4 {
                font-size: 1.2em;
                margin-top: 30px;
            }
            &:hover {
                box-shadow: 0 2rem 3rem rgba(0,0,0,.175);
                i {
                    transform: scale(1.5);
                }
            }
        }
    }
}
/* End Skills */
/* Start Cores */
section.cores {
    background-color: var(--main-color);
    h2 {
        color: #fff;
    }
    .cards {
        .card {
            text-align: center;
            width: calc(100% / 3 - 30px);
            h4 {
                font-size: 1em;
            }
        }
    }
}
/* End Cores */
/* Start Experience */
section.experience {
    .work {
        background-color: #fff;
        box-shadow: var(--shadow);
        margin: 50px 0;
        padding: 20px ;
        h3 {
            font-size: 1.5em;
            color: var(--main-color);
        }
        .title {
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
            span {
                font-weight: bold;
            }
        }
        ul li::before{ 
            font-family: 'Font Awesome 5 Free';
            content: '\f007';
            color: var(--main-color);
        }
    }
}
/* End Experience */
/* Start hobbies */
section.hobbies {
    .cards {
        .card {
            width: calc(100% / 3 - 30px);
        }
    }
}
/* End hobbies */
/* Start references */
section.references {
    background-color: var(--main-color);
    h2 {
        color: #fff;
    }
    .cards {
        .card {
            width: 100%;
            h3 {
                font-size: 1.5em;
            }
            span {
                color: var(--seconde-color);
                display: block;
                margin: 10px 0;
            }
            p {
                color: #000;
                line-height: 2;
            }
            i {
                margin: 10px 20px 0 0;
                transition: .3s;
                &:hover {
                    transform: scale(1.5) !important;
                }
            }
            &:hover {
                i {
                    transform: scale(1);
                }
            }
        }
    }
}
/* End references */
/* Start edu */
section.edu {
    ul {
        li {
            padding:20px;
            background-color: #fff;
            box-shadow: var(--shadow);
            margin-top: 30px;
        }
    }
}
/* End edu */
/* Start work */
.work {
    .box {
        &:not(:last-child) {
            border-bottom: 1px solid var(--main-color);
        }
        margin: 50px 0;
        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                color: var(--seconde-color);
            }
            a {
                color: var(--main-color);
                font-size: 2em;
            }
            h4 {
                font-size: 1.5em;
            }
            h3 {
                font-size: 2.5em;
                margin: 10px 0;
                color: var(--main-color);
            }
        }
        & > h4 {
            color: var(--main-color);
            font-size: 2.5em;
        }
        p {
            color: var(--seconde-color);
            margin: 10px 0;
            line-height: 2;
        }
        ul {
            margin-top: 20px;
            li {
                box-shadow: 0 .1rem .9rem rgba(0,0,0,.10);
                margin-bottom: 20px;
                padding: 15px;
            }
        }
    }
}
/* End work */

/* Query */
@media (max-width:767px) {
    .text {
        max-width: none !important;
        position:relative !important;
        padding: 0 !important;
    }
    section.welcome {
        padding: 100px 20px;
    }
    header {
        gap: 10px;
        .logo {
            span {
                font-size: 1.5em;
            }
        }
        ul.links {
            gap: 10px;
            a {
                font-size: 14px;
            }
        }
        a.download {
            display: block;
        }
    }
    section.meet {
        justify-content: center;
        padding: 10px;
        .text {
            flex-basis: 100%;
            h3 {
                font-size: 2.5em;
            }
        }
    }
    footer {
        flex-direction: column;
        padding: 60px 10px;
        gap: 40px;
        .hours {
            ul {
                width: 95% !important;
            }
        }
    }
    .timeline {
        .parts {
            &::before {
                left: 5%;
            }
            .part {
                justify-content: flex-start;
                gap: 30px;
                .text {
                    order: 1;
                    width: 60%;
                }
                span.date {
                    width: 100%;
                    order: -1;
                    text-align: right;
                }
                h3 {
                    &:before {
                        left:auto !important;
                        right: 100% !important;
                        border-left: none !important;
                        border-right: 10px solid #000;
                    }
                }
                &:nth-child(2n) {
                    flex-direction: row;
                }
            }
        }
    }
    .skills {
        .card {
            width: 100% !important;
        }
    }
    section {
        padding: 20px;
    h2 {
        font-size: 3em;
    }
    }
}